
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
//icons 

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

$facebook-color: #3b5998;
$twitter-color: #55acee;
$google-color: #dd4b39;

.btn-facebook {
	background-color: $facebook-color;
	color: white;
	border-color: darken ($facebook-color,3%);

	&:hover, &:active, &:focus{
	color:white;
	}
}

.btn-twitter {
	background-color: $twitter-color;
	color: white;
	border-color: darken ($twitter-color,3%);

	&:hover, &:active, &:focus{
	color:white;
	}
}
.btn-google {
	background-color: $google-color;
	color: white;
	border-color: darken ($google-color,3%);

	&:hover, &:active, &:focus{
	color:white;
	}

}